:root{
    --primary-color: #E6B86A;
}
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    /* 16px
    font-size: 100%; */
    /* hack */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    background: #061B1C;
}
.header{
    margin-top: 20px;
}

.header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #292929;

}
.header__top-left{
    display: flex; 
    align-items: center;

}
.header__hotline{
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color:var(--primary-color);
    margin-right: 18px;

}
.header__social{
    margin-right: 18px;
}
.header__social i{
    color:var(--primary-color);
    font-size: 1.5rem;

}
.header__social i:hover{
    opacity: 0.7;
}

.header__search{
    background-color: #0D0D0D;
    border-radius: 30px;
    width: 265px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__search input{
    background-color: transparent;
    outline: none;
    color: var(--primary-color);
    border: none;
    margin-left: 20px;
    
}
.header__search input::placeholder{
    color: var(--primary-color);
}
.header__search i {
    color: var(--primary-color);
    font-size:15px;
    margin-right: 15px;
    cursor: pointer;
}
.header__bottom{
 margin-top: 25px;
}
.header__bottom-navbar ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.header__nav-item.active a{
    color: var(--primary-color);
    font-weight: 900;

}
.header__nav-item a {
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 22px;
    color:white;
}
.header__nav-item a:hover{
    opacity: 0.7;
}

.banner{
    display: flex;
    margin-top: 435px;
    padding-bottom: 100px;

}
.banner__left{
    width: 40%;
}

.banner__left span{
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    color: var(--primary-color);
}

.banner__left h1{
    font-family: UTM Avo;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: white;
}
.banner__left p {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;

    color: #FFFFFF;
}
.banner__viewmore{
    margin-top: 30px;
}
.banner__viewmore button{
    width: 149px;
    height: 35px;
    background: #0F3536;
    border-radius: 50px;
    color: #FFFFFF;
    
    font-family: Mulish;
    font-style: normal;
    font-size: 15px;
    line-height: 19px;
    cursor: pointer;
}

.banner__viewmore button:hover{
    background-color: var(--primary-color);
    color:black;
  
}
.banner__right{
    position: relative;
}

.banner__img-klipartz3{
    position: absolute;
    left: 60px;
    top: -384px; 
}

.banner__img-klipartz2{
    position: absolute;
    left: 134px;
    top: -65px;
}

.aboutus{
    width: 100%;
    height:883px;
    background-image: url("./img/Rectangle53.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.aboutus__left{
    flex: 1;
    position: relative;
}
.aboutus__img-aboutus{
    position: absolute;
    top: 107px;
    left:69px;
}
.aboutus__img-klipartz4{
    position: absolute;
    top: 225px;
    left:14px;
    width: 723px;
    height: 479px;
}

.aboutus__right{
    flex: 1;
    margin-top: 272px;
}

.aboutus__right span{
    margin-left: 15px;
    font-family: UTM Avo;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 55px;
    /* identical to box height */

    letter-spacing: 0.2em;

    /* yeallow */

    color: #E6B86A;
}

.aboutus__inf{
    margin-left: 15px;
    font-family: Mulish;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
}
.aboutus__inf-top{
    margin-top: 30px;
    margin-bottom: 30px;
}

.aboutus__inf ul{
    margin-left: 30px;
}

.roadmap{
    position: relative;

}
.roadmap__img-left img{
    position: absolute;
    top: 652px;
    right: -67px;
}

.roadmap__title{
    color: var(--primary-color);
    text-align: center;
}

.roadmap__title h1{
    font-family: UTM Avo;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 73px;

}

.roadmap__title span{
    font-family: UTM Avo;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.2em;
    color:white;
}

.roadmap__content-left{
    margin-top: 125px;
}


.roadmap__inf-top{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.roadmap__inf-top-left{
    text-align: right;
}
.roadmap__inf-top-left span{
    font-family: UTM Avo;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;

}
.roadmap__inf-top-left h1{
    font-family: UTM Avo;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    color: var(--primary-color);
}
.roadmap__inf-top-right h1{
    font-family: UTM Avo;
    font-style: normal;
    font-size: 90px;
    line-height: 22px;
    /* identical to box height, or 24% */
    /* blue */

    color: #0F3536;
}

.roadmap__inf-bottom-right p{
    text-align: left;
}


.roadmap__inf-top-right.left{
    margin-left: 15px;
}

.roadmap__inf-top-right.right{
    margin-right: 15px;
}
.roadmap__inf-bottom p{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    /* or 147% */
    color: #FFFFFF;

}

.roadmap__inf-bottom-left p {
    text-align:right;
}

.roadmap__content-right img{
    width: 468px;
    height: 254px;
    border-radius: 5px;
    margin-left: 30px;
}

.roadmap__content{
    margin-top: 100px;
}
.roadmap__inf.right{
    margin-left: 30px;

}

.roadmap__inf.right .roadmap__inf-top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.roadmap__inf.right .roadmap__inf-top-left{
    text-align: left;
}


.roadmap__inf{
    margin-right: 40px;
    
}

.roadmap__content-right.right img{
    margin-left: 77px;
}

.roadmap__vertical{
    position: absolute;
    top: 180px;
    right:50%;
}

.roadmap__horizontal{
    position: absolute;
    right: 50%;
    top: 257px;
}

.roadmap__Ellipse2{
    right: -16px;
    top: 240px;

}

.roadmap__Ellipse3{
    right: -10px;
    top: 246px;
}



.roadmap__Ellipse2-3{
    right: -16px;
    top: 1013px;

}

.roadmap__Ellipse3-3{
    right: -10px;
    top: 1019px;;
}

.roadmap__Rectangle56-3{
    right: 50%;
    top: 1030px;
}

.roadmap__Ellipse2-2{
    right: -17px;
    top: 635px;

}

.roadmap__Ellipse3-2{
    right: -11px;
    top: 641px;
}

.roadmap__Rectangle56-2{
    left: 0;
    top: 652px;
}

.roadmap__Ellipse2-4{
    right: -17px;
    top: 1384px;
}

.roadmap__Ellipse3-4{
    right: -11px;
    top: 1390px;
}

.roadmap__Rectangle56-4{
    left: 0;
    top: 1400px;
}

.tockenomics{
    position: relative;
}
.tocken__img{
    position: absolute;
    top: 300px;
    left: 74px;
}
.platform11__img{
    position: absolute;
    top: 400px;
    left: 384px;
}
.tockenomics__content{
    position:absolute;
    left: 230px;
    top: 550px;
}
.tockenomics__content h1{
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 63px;

    color: #FFFFFF;
}

.tockenomics__content p{
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */


    /* yeallow */

    color: #E6B86A;

}

.tockenomics_vector{
    position: absolute;
    top: 203px;
    left: 492px;
}
.tockenomics_elip1{
    position: absolute;
    top: 382px;
    left: 367px;
}
.tockenomics_vector1{
    position: absolute;
    top: 400px;
    left: 384px;
}

.token__bottom-img{
    position: absolute;
    top: 1050px;
    left: 286px;
    width: 1027px;
    height: 540px;
}

.token__icon{
    position: absolute;
    top: 0px;
}

.token__icon1-1{
    position: absolute;
    top: 0px;
    left: 0px;
}
.token__icon1-2{
    position: absolute;

    top: 4px;
    left: 5px;

}

.token__icon1a-4{
    position: absolute;
    top: 2px;
    left: 13px;
}

.token__icon1-3{
    position: absolute;
    top: 6px;
    left: 9px;
}

.token__icon1a-3{
    position: absolute;
    top: 11px;
    left: 11px;
}
.token__icon1a-5{
    position: absolute;
    top: 0px;
    left: 23px;
}
.token__icon1a-6{
    position: absolute;
    top: 31px;
    left: 10px;
}

.token__inf-top{
    display: flex;
    align-items: center;
}
.token__bottom-inf{
    position: absolute;
    top: 1280px;
    left: 345px;
    display: flex;
}

.token__number span{
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 22px;
    /* identical to box height, or 44% */

    text-align: center;
    text-transform: uppercase;

    color: #FFFEFE;

    text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-left:45px;
}

.token__inf-bottom span{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    /* identical to box height, or 169% */


    color: #FFFFFF;
}
.token__bottom-inf-wrap{
    margin-right: 150px;
}

.wrap__token{
    height:1550px;
}
.ourteam{
    position: relative;
    padding-bottom: 20px;
}

.ourteam__top {
    text-align: center;
}
.ourteam__top h1{
    font-family: UTM Avo;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 73px;
    color: var(--primary-color)
}

.ourteam__top span{
    font-family: UTM Avo;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.2em;

    /* wihite */

    color: #FEFEFE;
}
.ourteam__bottom{
    margin-top: 105px;
}
.ourteam__bottom-top{
    text-align: center;
    
}
.ourteam__bottom-top img{
    margin-right: 50px;
}

.ourteam__left-img{
    position: absolute;
    left: 0px;
    top: 160px;
}
.ourteam__bottom{
    padding-bottom: 50px;
}
.ourteam__right-img{
    position: absolute;
    right: 71px;
    top: 190px;
}
.ourproject{
    padding-top: 100px;
    background-color:  #020809;
    padding-bottom: 50px;
    /* position: relative; */
    /* overflow: hidden; */
    height:1070px;
}
.ourproject__title{
     text-align: center;
}
.ourproject__title h1{

    font-family: UTM Avo;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 73px;
    color: var(--primary-color);
    
}
.ourproject__title span{
    font-family: UTM Avo;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */

    letter-spacing: 0.2em;

    /* wihite */

    color: #FEFEFE;
}
.slides{
    display:flex;
    position: relative;
    margin-top: 80px;
    overflow: hidden;
}
.slides__item{
    width: 366px;
    color: white;

}
.slides__item span{
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    /* or 129% */


    /* white */

    color: #FFFFFF;
}

.slides__item p{
    font-family: Mulish;
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    /* or 147% */


    color: #FFFFFF;
}
.slides__item img{
    object-fit: cover;
    height:441px;
    width: 100%;
    margin-bottom: 15px;
}
.slides__item-hidden-left{
    position: absolute;
    top: 0px;
    left: -100px;
}
.slides__item-hidden-right{
    position: absolute;
    top: 0px;
    right:-100px;
}
.sildes__mid{
    display: flex;
    justify-content: space-between;
}

.slides__item-hidden{
    opacity: 0.5;
}
.community{
    margin-top: 150px;
}
.community__top{
    text-align: center;
    
}
.community__top h1{
    font-family: UTM Avo;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 73px;
    color: var(--primary-color)
}

.community__top h2{
    font-family: UTM Avo;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */

    letter-spacing: 0.2em;

    /* wihite */

    color: #FEFEFE;
}

.community__top img{
    margin-top: 30px;
}

.community__mid{
    margin-top: 50px;
}
.community__mid{
    text-align: center;
}
.community__mid input{
    color: var(--primary-color);
    margin-right: 10px;
    padding-left: 30px;
    border: none;
    outline: none;
    width: 413px;
    height: 45px;
    border-radius: 30px;
    background: linear-gradient(268.49deg, #0F3536 4.84%, #034E50 51.28%);

}
.community__mid input::placeholder{
    color: white;
}
.community-input{
    margin-top: 15px;
}

.community__mid-3 button{
    font-weight: 700;
    width: 844px;
    height: 45px;
    border-radius: 30px;
    background: linear-gradient(90.09deg, #E6B86A 1.58%, #CC8C20 98.47%);
}
.community__mid-3 button:hover{
    opacity: 0.8;
    cursor: pointer;
}
.community__bottom{
    display: flex; 
    justify-content: space-between;
    margin-top: 100px;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}
.community__bottom-item i{
    font-size: 20px;
    color: var(--primary-color);
    margin-right: 10px;
}

.community__bottom-item span{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */
    /* white */
    color: #FFFFFF;
}
.footer{
    margin-top: 100px;
    text-align: center;
}
.footer_top span{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    text-align: center;
    /* yeallow */
    color: #E6B86A;
}
.footer_bottom{
    margin-top: 50px;
    font-size: 36px;
    padding-bottom: 50px;
}
.footer_bottom i{
    color: white;
    margin-right: 15px;
}

.footer_bottom i:hover{
    color: var(--primary-color);
    cursor:pointer;
}